{% extends 'base.html' %}

{% block container %}
    
{% include 'navbar.html' %}
<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <div class="row">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="/alumnos/{{ alumno.grado }}/">Grados</a>
          </li>
        </ol> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-primary">Grado: {{ alumno.grado }}º DAN</h1> 
        <h2>{{ alumno.apellidos }}, {{ alumno.nombre }}</h2>
        <h3>{{ alumno.dojo }}</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h3>Exámenes realizados</h3>
          <table class="table table-striped">
            <tr>
              <th>Cursillo</th>
              <th>Grado</th>
            </tr>
            {% for exm in examen %}
              <tr>
                <td>{{ exm.evento }}</td>
                <td>{{ exm.grado }}º DAN</td>
              </tr>		
            {% endfor %}
          </table>
      </div>
    </div>
  

  </div>
</div>

{% endblock container %}