{% extends 'base.html' %}

{% block container %}
    
{% include 'navbar.html' %}

{% include 'cabecera.html' %}

<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <div class="row">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="/alumnos/{{ alumno.grado }}/">Grados</a>
          </li>
        </ol> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-primary">Grado: {{ alumno.grado }}º DAN</h1> 
        <h2>{{ alumno.apellidos }}, {{ alumno.nombre }}</h2>
        <h3>{{ alumno.dojo }}</h3>
        
        {% if alumno.kyoshi %}
          <p>Kyoshi: {{ alumno.kyoshi }}</p>
        {% endif %}
        {% if alumno.renshi %}
          <p>Renshi: {{ alumno.renshi }}</p>
        {% endif %}
          
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h3>Exámenes realizados</h3>
          <table class="table table-striped">
            <tr>
              <th>Cursillo</th>
              <th>Grado</th>
            </tr>
            {% for exm in examen %}
              <tr>
                <td>{{ exm.evento }}</td>
                <td>{{ exm.grado }}º DAN</td>
              </tr>		
            {% endfor %}
          </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Años en un grado</h3>
          <table class="table table-striped">
            <tr>
              <th>Examen</th>
              <th>Años</th>
            </tr>
            {% for g, y in grafico.items %}
              <tr>
                <td>{{ g }}º DAN</td>
                <td>{{ y }}</td>
              </tr>		
            {% endfor %}
          </table>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        Número de años en cada grado
      </div>
      <div class="card-body">
        <canvas id="myChartGrados" width="100%" height="30"></canvas>
      </div>
      <div class="card-footer small text-muted">
        Actualizado a {{ hoy }}
      </div>
    </div>
  

  </div>
</div>

{% endblock container %}


{% block script_js %}

<script>
  
  var ctx = document.getElementById("myChartGrados");
  var myLineChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
      labels: {{ exm|safe }},
      datasets: [{
        label: "Años",
        backgroundColor: "rgba(2,117,216,0.2)",
        borderColor: "rgba(2,117,216,1)",
        hoverBorderColor: "rgba(2,117,216,1)",
        data: {{ anios|safe }},
      }],
    },
    options: {
      scales: {
        xAxes: [{
          time: { unit: 'year' },
          gridLines: { display: true },
          ticks: { maxTicksLimit: 6 }
        }],
        yAxes: [{
          ticks: { min: 0, max: 50, maxTicksLimit: 5 },
          gridLines: { display: true }
        }],
      },
      legend: { display: false }
    }
  });

</script>

  
{% endblock script_js %}
  