{% extends 'base.html' %}
{% load static %}
{% block container %}
    
{% include 'navbar.html' %}
{% include 'cabecera.html' %}
<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <div class="row">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="#">Alumnos</a>
          </li>
        </ol>
      </div>
    </div>
  
    <div class="col">
      <div class="row">
        <!-- <div class="alert alert-warning" role="alert"> -->
          <h2>Cintos Negros {{ grado }}º DAN</h2>
        <!-- </div> -->
      </div>
    </div>

    <div class="col">
      <div class="row">
        <h3>Total: <strong>{{ cantidad }}</strong></h2>
      </div>
    </div>
    

    <div class="col">
      <div class="row">
        <table id="dataTable" class="table table-striped">
          <tr>
            <th>Nombre</th>
            <th>Gimnasio</th>
            <th>Activo</th>
          </tr>
          {% for alm in alumno %}
            <tr>
              <td><a href="{{ alm.id }}">{{ alm.apellidos }}, {{ alm.nombre }}</a></td>
              <td>{{ alm.dojo }}</td>
              <td>
                {% if alm.activo %}
                  <i class="fa fa-fw fa-check-circle text-success"></i>
                {% endif %}
                  </td>
            </tr>		
          {% endfor %}
          </table>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock container %}
    
    
