{% extends 'base.html' %}

{% block container %}
    
{% include 'navbar.html' %}
<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
      <li class="breadcrumb-item active"><a href="/alumnos/{{ alumno.grado }}/">Alumnos</a>
      </li>
    </ol> 
  <h1>Alumno</h1> 
  <h2>{{ alumno.apellidos }}, {{ alumno.nombre }}</h2>
  <table class="table table-striped">
    <tr>
      <th>Cursillo</th>
      <th>Grado</th>
    </tr>
    {% for exm in examen %}
      <tr>
        <td>{{ exm.evento }}</td>
        <td>{{ exm.grado }}</td>
      </tr>		
    {% endfor %}
    </table>
  

  </div>
</div>

{% endblock container %}