{% load static %}
<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="egalvez">
    <title>OGKKE</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Fuentes para esta plantilla -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Estilos para esta plantilla -->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

    <!-- Estilos para DataTable -->
    <link href="{% static "datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">
    <!-- <link href="{% static "datatables/datatables.min.css" %}" rel="stylesheet"> -->

    <link href="{% static "chart.js/Chart.min.css" %}" rel="stylesheet">

  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  
  {% block container %}
    
  {% endblock container %}
      
    <!-- Bootstrap core JavaScript -->
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "popper/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "chart.js/Chart.min.js" %}"></script>
    <script src="{% static "datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "datatables/dataTables.bootstrap4.js" %}"></script>
    <!-- <script src="{% static "datatables/datatables.minjs" %}"></script> -->

    <script src="{% static "js/sb-admin.js" %}"></script>


    {% block script_js %}

    {% endblock script_js %}


  </body>

</html>
