{% extends 'base.html' %}

{% block container %}
    
{% include 'navbar.html' %}

{% include 'cabecera.html' %}

<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'cursillos' %}">Gasshuku</a>
      </li>
    </ol> 
  <h1 class="text-primary">Gasshuku</h1> 
  <h2>{{ curso.evento }}</h2>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ curso.pais }}</h4>
      <p class="card-text">{{ curso.ciudad }}</p>
      <p class="card-text">{{ curso.fecha }}</p>
    </div>
  </div>
  <hr>
    <table id="tbcursodetalle" class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dojo</th>
          <th>Grado</th>
        </tr>
      </thead>
      <tbody>
        {% for alm in examenes %}
          <tr>
            <td>{{ alm.alumno }}</td>
            <td>{{ alm.alumno.dojo }}</td>
            <td>{{ alm.grado }}º DAN</td>
          </tr>		
        {% endfor %}
      </tbody>
      </table>
      <!-- <p>Total {{ cantidad }} alumnos</p> -->

  </div>
</div>

{% endblock container %}

{% block script_js %}

<script>
      $(document).ready(function() {
        $('#tbcursodetalle').DataTable( {
          "pagging": true,
          "pageLength": 25,
          "ordering": true
        });
      } );    
  </script>

{% endblock script_js %}