{% extends 'base.html' %}

{% block container %}
    
{% include 'navbar.html' %}
<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <div class="row">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item active"><a href="#">Gasshuku</a>
          </li>
        </ol> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1>Gasshukus realizados</h1> 
          <table class="table table-striped">
            <tr>
              <th>Fecha</th>
              <th>Evento</th>
              <th>Ciudad</th>
              <th>País</th>
              <th>Internacional</th>
            </tr>
            {% for curso in cursillo %}
              <tr>
                <td><a href="{{ curso.id }}">{{ curso.fecha }}</a></td>
                <td>{{ curso.evento }}</td>
                <td>{{ curso.ciudad }}</td>
                <td>{{ curso.pais }}</td>
                
                {% if curso.internacional %}
                  <td><i class="fa fa-fw fa-check-circle"></i></td>     
                {% else %}
                  <td></td>             
                {% endif %}
                  
              </tr>		
            {% endfor %}
          </table>

      </div>
    </div>

  </div>
</div>

{% endblock container %}