{% extends 'base.html' %}

{% block container %}
    
{% include 'navbar.html' %}

{% include 'cabecera.html' %}

<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'dojos' %}">Dojo</a>
      </li>
    </ol> 
  <div class="row">
    <div class="col">
      <h1 class="text-primary">Dojo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mr-auto"> 
      <h2>{{ dojo.nombre }}</h2>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#peticionModal">
        Petición Nueva
      </button>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#peticionpteModal">
        Peticiones pendientes <span class="badge badge-light">{{ peticion }}</span>
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ dojo.direccion }}</h4>
          <p class="card-text">{{ dojo.Poblacion }}, {{ dojo.provincia }}</p>
          <p class="card-text"><i class="fa fa-fw fa-envelope-o"></i>{{ dojo.correo }}</p>
          <p class="card-text"><i class="fa fa-fw fa-phone"></i>{{ dojo.telefono }}</p>
          <strong><h5 class="mt-0">
            
            {% if dojo.rango %}
              Sensei:
            {% else %}
              Instructor:
            {% endif %}
             {{ dojo.apellidos_instructor }}, {{ dojo.nombre_instructor }}</h5></strong>
          <p>
            Grado: 
            {% if dojo.rango == 'h' %}
              Hanshi
            {% endif %}
            {% if dojo.rango == 'r' %}
              Renshi
            {% endif %}
            {% if dojo.rango == 'k' %}
              Kyoshi
            {% endif %}
             {{ dojo.grado }}º DAN
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card">
        <div class="card-body">
          <img class="img-thumbnail" src="{{ dojo.foto_instructor.url }}" class="mr-3" height="192" width="192" alt="...">
        </div>
      </div>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col">
      <h3>Total Cinturones Negros: <span class="badge badge-dark">{{ cantidad }}</span></h3>         
      <table class="table table-striped">
        <tr>             
          {% for d in danes  %}
            <th>{{ forloop.counter }}º DAN</th>
          {% endfor %}               
        </tr>
            <tr>             
              {% for d in danes  %}
                <th>{{ d }}</th>
              {% endfor %}               
            </tr>		
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table id="tbalumnos" class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Grado</th>
            <th>Activo</th>
          </tr>
        </thead>
        <tbody>
          {% for alm in alumno %}
            <tr>
              <td>{{ alm.nombre }}, {{ alm.apellidos }}</td>
              <td>{{ alm.grado }}º DAN</td>
              <td>
                {% if alm.activo %}
                  <i class="fa fa-fw fa-check-circle text-success"></i>
                {% endif %}
              </td>
            </tr>		
          {% endfor %}
        </tbody>
        </table>
        <!-- <p>Total {{ cantidad }} alumnos</p>   -->
    </div>
  </div>
    
  </div>
</div>

<!-- Peticion Modal -->
<div class="modal fade" id="peticionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Nueva petición</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Datos de la petición</h4>
        <form action="{% url 'peticion' %}" method="post" role="form">
          {% csrf_token %}
          <div class="form-group">
            <label>Gimnasio {{ dojo }}</label>
            <input type="hidden" value="{{ dojo.id }}" name="dojo">
          </div>
          <div class="form-group">
            <select name="tipo">
              <option value="a">Añadir</option>
              <option value="m">Modificar</option>
              <option value="e">Eliminar</option>
            </select>
          </div>
          <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" placeholder="Titulo..." 
            name="titulo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="descripcion"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="peticionpteModal" tabindex="-1" role="dialog" aria-labelledby="peticionpteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="peticionpteModalLabel">Peticiones pendientes</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        {% for pte in peticionpte %}
          <h5>{{ pte.titulo }}</h5>
          <p>{{ pte.descripcion }}</p>
        {% endfor %}
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
      
    </div>
  </div>
</div>

{% endblock container %}

{% block script_js %}

<script>
      $(document).ready(function() {
        $('#tbalumnos').DataTable( {
          "pagging": true,
          "ordering": true
        });
      } );    
  </script>

{% endblock script_js %}