{% extends 'base.html' %}

{% block container %}
    
{% include 'navbar.html' %}
<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
      <li class="breadcrumb-item active"><a href="#">Dojos</a>
      </li>
    </ol> 
  <h1>Gimnasios asociados</h1> 
    <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Poblacion</th>
        <th>Provincia</th>
      </tr>
      {% for dojo in object_list %}
        <tr>
          <td><a href="{{ dojo.id }}">{{ dojo.nombre }}</a></td>
          <td>{{ dojo.Poblacion }}</td>
          <td>{{ dojo.provincia }}</td>
        </tr>		
      {% endfor %}
      </table>

  </div>
</div>

{% endblock container %}
    
    
