{% extends 'base.html' %}

{% load static %}

{% block container %}
    
{% include 'cabecera.html' %}
{% include 'navbar.html' %}
<div class="content-wrapper"> 
  <div class="container-fluid"> 
    <div class="row">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Inicio</a>
          </li>
          <li class="breadcrumb-item active">
          </li>
        </ol> 
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Datos generales</h2>
      </div>
    </div>
    <!-- Cajas con los datos totales -->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card mb-3">
          <img src="{% static 'img/cn.jpg' %}" class="card-img-top" alt="cinturon negro">
          <div class="card-body text-center">
            <h3 class="card-title">Cintos negros <span class="badge badge-dark">{{ cn }}</span></h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card mb-3">
            <img src="{% static 'img/gassukus.jpg' %}" class="card-img-top" alt="cinturon negro">
            <div class="card-body text-center">
              <h3 class="card-title">Gasshukus <span class="badge badge-dark">{{ cursos }}</span></h3>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card mb-3">
            <img src="{% static 'img/dojos.jpg' %}" class="card-img-top" alt="cinturon negro">
            <div class="card-body text-center">
              <h3 class="card-title">Dojos <span class="badge badge-dark">{{ dojos }}</span></h3>
            </div>
          </div>
        </div>
      
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card mb-3">
              <img src="{% static 'img/peticiones.jpg' %}" class="card-img-top" alt="cinturon negro">
              <div class="card-body text-center">
                <h3 class="card-title">Incidencias <span class="badge badge-dark">{{ peticiones }}</span></h3>
              </div>
            </div>
          </div>
        </div>
      
    <!-- Fin cajas con los datos totales -->
    <div class="card mb-3">
      <div class="card-header">
        <!-- <i class="fa fa-area-chart"></i> -->
        <h3>Cinturones negros por grado</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <tr>             
            {% for d in danes  %}
              <th>{{ forloop.counter }}º DAN</th>
            {% endfor %}               
          </tr>
              <tr>             
                {% for d in danes  %}
                  <th>{{ d }}</th>
                {% endfor %}               
              </tr>		
        </table>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <!-- <i class="fa fa-area-chart"></i> -->
        <h3>Gasshukus</h3>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Total Nacional: <span class="badge badge-success">{{ nacional }}</span></li>
          <li class="list-group-item">Total Extranjero <span class="badge badge-warning">{{ extranjero }}</span></li>
          <li class="list-group-item">Total Internacionales: <span class="badge badge-primary">{{ int }}</span></li>
        </ul>
      </div>
      <div class="card-footer small text-muted">
        Actualizado a {{ hoy }}
      </div>
    </div>
  </div>
</div>

{% endblock container %}
    
    
