{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">
          <img src="{% static "img/logonav.png" %}" height="25" width="26" alt="logo">
          OGKKE Informes</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item {%  if request.resolver_match.url_name == "inicio" %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="/">
                <i class="fa fa-fw fa-dashboard"></i>
                <span class="nav-link-text">
                  Inicio</span>
              </a>
            </li>

            <!-- <li class="nav-item {%  if request.resolver_match.url_name == "alumno" %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="{% url 'alumnos' %}">
                <i class="fa fa-fw fa-address-card"></i>
                <span class="nav-link-text">
                  Alumnos</span>
              </a>
            </li> -->

            <li class="nav-item 
            " data-toggle="tooltip" data-placement="right" title="Temas">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseTema" data-parent="#exampleAccordion">
                <i class="fa fa-fw fa-file"></i>
                <span class="nav-link-text">Grados</span>
              </a>
              <ul class="sidenav-second-level collapse" id="collapseTema">
                <li>
                  <a href="/alumnos/1">1º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/2">2º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/3">3º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/4">4º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/5">5º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/6">6º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/7">7º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/8">8º DAN</a>
                </li>
                <li>
                  <a href="/alumnos/9">9º DAN</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#buscarModal">
                <i class="fa fa-fw fa-search"></i>
                Buscar Grado</a>
            </li>
            
            <li class="nav-item {%  if request.resolver_match.url_name == "inicio" %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="{% url 'dojos' %}">
                <i class="fa fa-fw fa-university"></i>
                <span class="nav-link-text">Dojos</span>
              </a>
            </li>

            <li class="nav-item {%  if request.resolver_match.url_name == "inicio" %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="{% url 'cursillos' %}">
                <i class="fa fa-fw fa-meetup"></i>
                <span class="nav-link-text">Gasshukus</span>
              </a>
            </li>

            <li class="nav-item {%  if request.resolver_match.url_name == "inicio" %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="{% url 'peticion' %}">
                <i class="fa fa-fw fa-meetup"></i>
                <span class="nav-link-text">Peticiones</span>
              </a>
            </li>
          
            

          </ul>
          <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
              <a class="nav-link text-center" id="sidenavToggler">
                <i class="fa fa-fw fa-angle-left"></i>
              </a>
            </li>
          </ul>
          <!-- Barra superior usuario y busqueda -->
          <ul class="navbar-nav ml-auto">

            {% if user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <i class="fa fa-fw fa-wrench"></i>
                    Administración
                </a>
              </li>
            {% endif %}

            <li class="nav-item">
             <!-- <a class="nav-link" data-toggle="modal" data-target="#exampleModal">-->
                <a class="nav-link">
                <i class="fa fa-fw fa-user-circle-o"></i>
                {% if user.is_authenticated %}
                    {{ user.username|capfirst }}
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-fw fa-sign-out"></i>
                Salir</a></li>
            {% else %}
              Usuario</a></li>
            {% endif %}
              
          </ul>
        </div>
    </nav>

    <footer class="sticky-footer">
      <div class="container">
          <div class="text-center">
              <small>Copyright &copy; egalvez 2020</small>
          </div>
      </div>
    </footer>
    
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>


      <!-- Buscar Modal -->
      <div class="modal fade" id="buscarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Buscar Cinto Negro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Busca una persona por su apellido
              <form action="{% url 'buscar' %}" method="post" role="form">
                {% csrf_token %}
                <div class="form-group">
                  <!-- <label>Apellido</label> -->
                  <input type="text" class="form-control" placeholder="Apellido..." 
                  name="apellido">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>

      <!-- Logout Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Has terminado?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Seleccione Salir si está preparado para terminar la sesión
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{% url 'logout' %}">Salir</a>
          </div>
        </div>
      </div>
    </div>